
#top-parallax, #bottom-parallax, #middle-parallax {
    background: url('../images/pitsku.jpg') no-repeat center center fixed;
    background-size:cover;
    color:white;
}

#top-nav {
    background-color:#1C6FF3;
    opacity:1;
}


@media screen and (max-width:60em) {
    h2 {
		font-size: 2rem !important;
	}
}

