

$text_color: rgba(23, 23, 26, 0.603);

html {
    color: $text_color;
}

#top-parallax, #bottom-parallax, #middle-parallax {
    color: $text_color;
}

.title {
    display: flex;
}

.project-container {
    padding-top: 2vh;
}

#top-nav {
    background-color:#1C6FF3;
    opacity:1;
}

@media screen and (max-width:60em) {
    h2 {
		font-size: 2rem !important;
	}
}

