

$text_color: rgba(23, 23, 26, 0.603);
$highlight: rgba(0,0,0,.5);


html {
    color: $text_color;
}

.highlighted-text {
    background-color:$highlight;
    color:#fff;
    border-radius:2px;
}


#top-parallax, #bottom-parallax, #middle-parallax {
    color: $text_color;
}

.title {
    display: flex;
}

.project-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#top-nav, #bottom-footer {
    background-color:#1C6FF3;
    opacity:1;
}

img#one-click-img {
    max-width:250px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.tree {
    margin-top:5vh;
}

#card-holder {
    margin-top:2vh;
    .skill-card {
        margin-top:1em;
        margin-right:1em;
        width: 250px;
        min-height: 280px;
        border-radius: 2px;
        position: relative;
        img {
            width: 100%;
            height: 80%;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            position: absolute;
            top:0;
            bottom:0;
        }
        .card-text {
            margin-top: 90%;
            margin-left: auto;
            margin-right: auto;
           // todo: make at bottom of div
        }
    }
}

.active {
    background-color: rgba(0,0,0,.1)
}

#bottom-footer {
    h5 a {
        color:cyan;
    }
}
@media screen and (max-width:60em) {
    h2 {
        font-size: 2rem !important;
        text-align: center;
    }
    h4 {
        font-size: 1.6rem !important;
    }
    .flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    #card-holder .skill-card {
        margin-right:0;
        width: 100%;
        img {
            width: 100%;
        }
    }
}

